<div class="card">
    <div class="card-header">
        Live Preview
    </div>
    <div class="card-body">
        @Preview
    </div>
</div>

@code
{
    [Parameter] public MarkupString Preview { get; set; }
}