@page "/"
@using BlazorEditor.Components

<PageTitle>Home</PageTitle>

<h1>Blazor Editor</h1>

<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            Html text Editor
        </div>
        <div class="card-body mb-5" style="height:200px;">
            <TextEditorComponent @ref="textEditor"/>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" @onclick="ShowAoutPutPreview">Render</button>
        </div>
    </div>

    <PreviewComponent Preview="@preview"/>
</div>

@code
{
    private MarkupString preview;
    private TextEditorComponent textEditor;

    private async Task ShowAoutPutPreview()
    {
        var editorContent = await textEditor.GetEditorHTML(); // Calling the public method
        if (!string.IsNullOrWhiteSpace(editorContent))
        {
            preview = (MarkupString)editorContent;
        }
    }
}